#product-detail {
    background-color: white;

    padding-top: 100px;
    min-height: 100vh;

    .info-container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .size-container {
        display: flex;
        margin-top: 24px;
        flex-direction: column;
        .title {
            font-size: 1.3rem;
            margin-bottom: 8px;
        }
    }
}